@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-zoomIn {
  animation-name: zoomIn;
  animation-fill-mode: forwards;
}
